\.vscode/
__pycache__/
modules/*/__pycache__/

*.pyc
modules/ai/objectdetection/__init__.py

modules/av_evasion/__init__.py

modules/av_evasion/crypter/__init__.py

modules/crackers/__init__.py

modules/crackers/bruteforce/__init__.py

modules/crackers/unzip/__init__.py

modules/crypto/__init__.py

modules/crypto/rsa/__init__.py

modules/forensic/__init__.py

modules/forensic/metadata/__init__.py

modules/forensic/virustotal/__init__.py

modules/malware/__init__.py

modules/malware/infector/__init__.py

modules/malware/rat/__init__.py

modules/osint/__init__.py

modules/osint/nmap/__init__.py

modules/osint/shodan/__init__.py

modules/vulnerabilities/__init__.py

modules/vulnerabilities/cpe/__init__.py

modules/vulnerabilities/cve/__init__.py

modules/vulnerabilities/cwe/__init__.py

modules/web/__init__.py

modules/web/spider/__init__.py

modules/web/sqlinjection/__init__.py
